* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.logo {
    margin-top: -1 !important;
    padding: 0;
    margin: 0px !important;
    border-radius: 25%;
}

header {
    height: 100px;
    position: relative;
    color: #FFFFFF;
    background-color: rgb(15, 15, 15);
    z-index: 1;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: black;
}

nav {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 40px 0 40px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

h2 {
    margin-top: 0px !important;
}

.container,
.products-container,
.products,
.cat-product {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.image h1 {
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.add-cart,
.image a {
    position: absolute;
    width: 100%;
    background-color: rgb(114, 110, 110);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    color: #f1de32;
    font-size: 16px;
}

.image:hover .cart1 {
    bottom: 50px;
    padding: 10px;
    opacity: 1;
    text-decoration: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: flex !important;
}

.cat-product {
    margin: 0 10px;
    width: 250px !important;
    align-items: center;
    display: flex;
}